.App {
  text-align: center;
  padding: 10px;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card {
  background-color: #f9f8f8;
  width: 500px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  
}
